/*----------------- Navbar2.js -----------------------*/
.navbar2 {
    max-width: 140rem;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-size: 1.5rem;
    background-color: white;
}

.navbar2-ulistitem:first-child {
    color: #424d83;
}

.navbar2-ulistitem:last-child {
    border-left: 1px solid rgb(122, 121, 121);
    padding-left: 20px;
}

.navbar2-ulistitem {
    margin: 20px 0px;
    color: rgb(122, 121, 121);
    cursor: pointer;
}

.navbar2 input {
    font-size: 1.6rem;
    padding: 12px 2rem;
    padding-right: 14rem;
    border: none;
    color:rgb(120, 116, 116); 
    border-radius: 25px;
    transition: all 0.2s;
    border: 1.4px solid #c0bdbd;
    font-weight: 600;
}

.navbar2 input:focus{
    outline:none;
}

@media screen and (max-width:650px) {
    .navbar2 {
        font-size: 1.15rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        
    }
    .navbar2 input { 
            padding-right: 2rem;
     }

}

.search__parent{
    display: flex;
    align-items: center;
}

.icon{
    color:rgb(120, 116, 116);
    transform: scale(1.7);
    margin-left: -3.13rem;
}

/*----------------- Navbar2.js -----------------------*/

/*----------------- SelectCategory.js -----------------------*/


.selectcategory {
    background-color: white;
    padding: 0px 25px;
    width: 100%;
    width: 100%;
    max-width: 150rem;
    margin: auto;
}

.selectcategory-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px 0px;
    margin-bottom: 4rem;
}

.selectcategory-top>*{
    margin: .5rem 0rem;
}

.selectcategory-top .top-title {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 4rem;
    color: rgb(51, 50, 50);
    text-align: center;
    margin-right: 1rem
}

.selectcategory-top .top-searchbox input{
    font-size: 1.6rem;
    padding: 12px 2rem;
    padding-right: 14rem;
    border: none;
    color:rgb(120, 116, 116); 
    border-radius: 25px;
    transition: all 0.2s;
    border: 1.4px solid #c0bdbd;
    font-weight: 600;
}

.selectcategory-top .top-searchbox input:focus{
    outline:none;
}

@media screen and (max-width:650px) {
 .selectcategory-top .top-searchbox input { 
            padding-right: 2rem;
     }
}

.selectcategory-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom-title {
    font-size: 2.25rem;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: grey;
    margin-bottom: 10px;

}

.bottom-img {
    height: 200px;
    width: 240px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 4px;
}

.bottom-img:hover {
    opacity: 0.7;
    border-radius: 20px;
    transition-duration: 0.6s;
}

.bottom-dropdown {
    width: 200px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.dropdown-item {
    text-align: center;
}

.alice-carousel__prev-btn {
    font-size: 4rem;
}

.alice-carousel__next-btn {
    font-size: 4rem;
}



@media screen and (max-width:650px) {
    .selectcategory-top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:550px) {
    .selectcategory .selectcategory-top .top-title {
        font-size: 3.5rem;
    }
}



/*----------------- SelectCategory.js -----------------------*/





/*----------------- Separator.js -----------------------*/


.separator {
    height: 75px;
    width: 100%;
    background-color: #424d83;
}


/*----------------- Separator.js -----------------------*/