:root {
  --clr-black: #1d2226;
  --clr-blue-1: #8c9efc;
  --clr-blue-2: #424d83;
  --clr-white-1: #ffffff;
  --clr-white-2: #c0c1cc;
  --clr-white-2: rgba(110, 106, 106, 0.85);
  --clr-white-3: #dedef5;
}

/*
==============================
Global Styles
==============================
*/
* {
  margin: 0;
  padding: 0;
}
*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Nunito Sans", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  color:#121212;
  text-decoration: none;
}
p {
  font-weight: 400;
}
.bg {
  background-color: #f7f8ff;
}
input[type='file'] {
  color: transparent;
}
.section__title {
  max-width: 80rem;
  margin: auto;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--clr-black);
  margin-bottom: 5rem;
}
@media only screen and (max-width: 900px) {
  .section__title {
    font-size: 3rem;
  }
}
.section__blue {
  padding: 5rem 4rem;
  background-color: #f7f8ff;
}
.section__white {
  padding: 5rem 4rem;
  background-color: #ffffff;
}
/*
==============================
Button Styles
==============================
*/
.btn-small:link,
.btn-small:visited {
  display: inline-block;
  color: var(--clr-blue-2);
  background-color: white;
  border-radius: 24px;
  text-decoration: none;
  padding: 0.7rem 4.5rem;
  font-size: 2rem;
  font-weight: 700;
}

@media only screen and (max-width: 850px) {
  .btn-small:link,
  .btn-small:visited {
    font-size: 1.6rem;
    padding: 0.9rem 3rem;
  }
}
.blue-btn {
  display: inline-block;
  margin: auto;
  padding: 1rem 4rem;
  color: white;
  font-size: 2.3rem;
  background-color: var(--clr-blue-2);
  border: none;
  font-weight: 600;
  border-radius: 20px;
  margin-top: 3rem;
  cursor: pointer;
  text-align: center;
}
@media only screen and (max-width: 850px) {
  .blue-btn {
    font-size: 2rem;
  }
}
.section-100vh {
  min-height: 100vh;
  background-color: #fff;
}

/*
==============================
Navigation Styles
==============================
*/
  .nav__parent{
    background-color: #424d83;
  }
  .nav__container {
    max-width: 119rem;
    margin: auto;
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar__logo {
    height: 6rem;
  }
  @media only screen and (max-width: 850px) {
      .navbar__logo {
        height: 4.2rem;
  }
  }
  @media only screen and (max-width: 850px) {
    .btn-nav {
      align-self: flex-end;
    }
  }

/* Temporary Disable Button. */
.disableButtonColor{
  background-color:#6c6d79;
}