:root {
  --clr-black: #1d2226;
  --clr-blue-1: #8c9efc;
  --clr-blue-2: #424d83;
  --clr-white-1: #ffffff;
  --clr-white-2: #c0c1cc;
  --clr-white-2: rgba(110, 106, 106, 0.85);
  --clr-white-3: #dedef5;
}

/*
==============================
Global Styles
==============================
*/
* {
  margin: 0;
  padding: 0;
}
*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Nunito Sans", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  color:#121212;
  text-decoration: none;
}
p {
  font-weight: 400;
}

.bg {
  background-color: #f7f8ff;
}

.section__title {
  max-width: 80rem;
  margin: auto;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--clr-black);
  margin-bottom: 5rem;
}

@media only screen and (max-width: 900px) {
  .section__title {
    font-size: 3rem;
  }
}

.section__blue {
  padding: 5rem 4rem;
  background-color: #f7f8ff;
}

.section__white {
  padding: 5rem 4rem;
  background-color: #ffffff;
}

/*
==============================
Button Styles
==============================
*/
.btn-small:link,
.btn-small:visited {
  display: inline-block;
  color: var(--clr-blue-2);
  background-color: white;
  border-radius: 24px;
  text-decoration: none;
  padding: 0.7rem 4.5rem;
  font-size: 2rem;
  font-weight: 700;
}

@media only screen and (max-width: 850px) {
  .btn-small:link,
  .btn-small:visited {
    font-size: 1.6rem;
    padding: 0.9rem 3rem;
  }
}

.blue-btn {
  display: inline-block;
  margin: auto;
  padding: 1rem 4rem;
  color: white;
  font-size: 2.3rem;
  background-color: var(--clr-blue-2);
  border: none;
  font-weight: 600;
  border-radius: 20px;
  margin-top: 3rem;
  cursor: pointer;
  text-align: center;
}
@media only screen and (max-width: 850px) {
  .blue-btn {
    font-size: 2rem;
  }
}

/* Spinner */
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #424d83 transparent #424d83 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.section-100vh {
  min-height: 100vh;
  background-color: #fff;
}

/* OverRdign */
/* avatar font size */
/* .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  font-family: "Nunito Sans", sans-serif !important;
  font-size: 1.5rem !important;
  font-weight: 600 !important;
} */

/* Drop Zone Text */
.drop {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem;
  color: var(--clr-black);
}

#CityField{
  font-size: 1.8rem;
  font-weight: 400;
  padding: 7px 14px;
  color: #2a2a2a;
}